<div class="Header">
 
  <div class=" clearfix"></div>
  <div class="Header-background"></div>

  <div class="Header-content">
    <div class="Header-hero">
      <h1>The best app you've <br /> ever seen</h1>
      <p>You'll be blown away with all it does</p>
      <a *ngIf="!isLogged" routerLink="register"><button id="register" class="Button me-1">Sign up</button></a>
      <button *ngIf="isLogged" id="cart" class="Button" routerLink="cart">Cart</button>

    </div>
    <div class="Header-visuals">
      <div class="Iphone"></div>

    </div>
  </div>
</div>
<app-home></app-home>