/* You can add global styles to this file, and also import other style files */
body{
    background-color: #4ca0fd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #003399 !important;
}